.top-bar{
    background-color: #212529;
    color: #f8f9fa;
}

.top-bar .fa-phone{
    color: #198754
}

.carousel-item img{
    height: 330px;
}

.section{
    padding: 40px 50px;
}

.section-header{
    padding-bottom: 20px;
    max-width: 500px;
    text-align: center;
}

.section-header >p{
    font-size: 12px;
    line-height: 1em;
    color: rgb(210, 210, 210);
}

.adv-item .round{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color:rgb(230, 230, 230);
    position: relative;
}

.adv-item .round > i{
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #198754;
}

.adv-item .desc {
    margin-top: 12px;
    max-width: 125px;
    text-align: center;
}

.adv-item .desc >p{
    font-size: 12px;
    line-height: 1em;
    color: rgb(210, 210, 210);
}

.color-success{
    color: #198754;
}

.about-us-desc{
    width: 100%;
    font-size: 12px;
}

.about-us-image{
    width: 100%;
}

.about-us-image img{
    height: 250px;
    max-width: 450px;
}

.svc-item{
    width: 230px;
    height: 200px;
    border-radius: 2px;
    background-color:rgb(230, 230, 230);
    position: relative;
    text-align: center;
    padding: 60px 10px 10px 10px;
}

.svc-item >p{
    font-size: 12px;
    line-height: 1em;
    color: rgb(190, 190, 190);
}

.svc-item>span{
    position: absolute;
    top: -1%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-color: #ffc107;
    border-radius: 50%;
}

.svc-item>span>i{
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 25px;
    color:red;
}
.portfolio{
    background-color: rgb(40, 40, 40);
    color: white;
}
.portfolio-item{
    background-color: gray;
}
.portfolio-item img{
    width: 100%;
    max-width: 225px;
    height: auto;
    background-color: rosybrown;
}

.process-item{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border-color: rgb(190, 190, 190);
    border-style: solid;
    border-width: 2px;
    position: relative;
}

.process-item >i{
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 40px;
    color:#198754;
}

.process-item>span{
    position: absolute;
    top: -1%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: #ffc107;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
}

.line {
    position: absolute;
    border-bottom: 2px solid rgb(190, 190, 190);
    width: 105px;
    left: 100%;
    top: 50%;
}

.process-desc{
    margin-top: 12px;
    max-width: 110px;
    text-align: center;
}

.process-desc >h6{
    font-size: 0.8rem;
}
.process-desc >p{
    font-size: 12px;
    line-height: 1em;
    color: rgb(190, 190, 190);
}
.people-about-us{
    background-color:rgb(230, 230, 230);
}

.user-place{
    position: relative;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    margin-right: 40px;
}

.user-place>i{
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 40px;
    color: lightgray;
}

.people-about-us-item{
    width: 50%;
    padding: 20px 0;
}
.border-bottom {
    border-bottom: 2px solid rgb(190, 190, 190) !important;
}

.border-right {
    border-right: 2px solid rgb(190, 190, 190);
}
.people-about-us-item-desc{
    width: 70%;
}

.people-about-us-item-desc >p{
    font-size: 12px;
}
.bullets {
    margin-top: 20px;
}
.bullets >span{
    background-color: #ffc107;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.bullets>span:first-child{
    background-color: #ff6a07;
}

.skills >div{
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-color: rgb(190, 190, 190);
    border-style: solid;
    border-width: 4px;
}

.skills span{
    font-weight: bolder;
    font-size: 25px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
}

.color-danger{
color: #ff3907;
}

.color-black{
    color:black;
}

.color-warning{
    color: #ffc107;
}
.share-project{
    background-color: #198754;
    color: white;
}

.share-project p{
     width: 60%; 
     text-align: center;
     font-size: 12px;
     line-height: 1em;
     margin-top: 30px;
}

.people-contacts-desc p{
    width: 50%;
}

.people-contacts-info i{
    color: #198754;
    padding-top: 5px;
}

.footer{
    color: white;
    background-color: #198754 ;
    font-size: 12px;
}

.footer-desc >img{
    width: 150px;
    height: auto;
    margin-left: -10px;
    margin-bottom: 20px;
}
.footer-desc{
    width: 35%;
}

.footer-desc p{
    width: 50%;
}


.footer h4{
    margin-bottom: 20px;
}

.vertical-line{
    margin: 10px 30px 0 30px;
    height: 230px;
    border: #29dda1 1px solid;
    
}