.top-bar{
    background-color: #212529;
    color: #f8f9fa;
}

.top-bar .fa-phone{
    color: #198754
}

.carousel-item img{
    height: 330px;
}

.section{
    padding: 40px 50px;
}

.section-header{
    padding-bottom: 20px;
    max-width: 500px;
    text-align: center;
}

.section-header >p{
    font-size: 12px;
    line-height: 1em;
    color: rgb(210, 210, 210);
}

.adv-item .round{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color:rgb(230, 230, 230);
    position: relative;
}

.adv-item .round > i{
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #198754;
}

.adv-item .desc {
    margin-top: 12px;
    max-width: 125px;
    text-align: center;
}

.adv-item .desc >p{
    font-size: 12px;
    line-height: 1em;
    color: rgb(210, 210, 210);
}

.color-success{
    color: #198754;
}

.about-us-desc{
    width: 100%;
    font-size: 12px;
}

.about-us-image{
    width: 100%;
}

.about-us-image img{
    height: 250px;
    width: auto;
}

.svc-item{
    width: 230px;
    height: 200px;
    border-radius: 2px;
    background-color:rgb(230, 230, 230);
    position: relative;
}